{%extends 'base.html'%}
{%block content%}
<div class="container">
	{%if is_empty %}
		<h1>No invatations here...</h1>
	{%endif%}
		{%for obj in qs %}
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 photo"><img src="{{obj.avatar.url}}" class="avatar_big img-fluid"></div>
					<div class="col-md-10">
						<h3>{{obj.user}}</h3>
						<p>{{obj.bio}}</p>
						<button class="btn btn-danger">See profile</button>
						{% if obj.user not in rel_receiver and obj.user not in rel_sender%}
				<form action="{% url 'userprofile:send-invite'%}" method="POST">
					{%csrf_token%}
					<input type="hidden" name="profile_pk" value={{obj.pk}}>					
					<button type="submit" class="btn btn-success mt-3 w-b"><i class="fa-solid fa-plus"></i>&nbsp;Add to friends</button>				
			</form>
				{%endif%}
				
						{%if obj.user in rel_receiver and request.user not in obj.friends.all%}
						<br>
						<button class="btn btn-secondary mt-3 w-b" disabled><i class="fa-solid fa-user"></i>&nbsp;Waiting for approval </button>
				{%endif%}
				
				</div>
				</div>
			</div>
		</div>
		{%endfor%}
	</ul>
</div>
{%endblock%}