{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			{%for obj in qs %}
			<div class="card mb-3" style="width: 100%;">
				<div class="card-header">
					<div class="row">
						<div class="col-md-1 photo"><img src="{{obj.author.avatar.url}}" class=" avatar img-fluid"></div>
						<div class="col-md-8 name"><span>{{obj.author.user}}-{{obj.created|timesince}} ago</span></div>
						{%if request.user == obj.author.user%}
						<div class="col-md-3 name" align="right">
							<a href="{% url 'posts:post-update' obj.pk %}"  class="btn btn-danger">Update</a>
						
							<a href="{% url 'posts:post-delete' obj.pk %}" class="btn btn-danger">Delete</a>
						</div>
						{%endif%}
					</div>
				</div>
				<div class="card-body">
					<p class="card-text">{{obj.content}}</p>
					<div class="row">
						<div class="col-md-9"><p><i class="fa-solid fa-comment"></i>&nbsp;{{obj.num_comments}} comments</p></div>
					  <div class="col-md-3" align="right">
							<form action="{%url 'posts:like-post-view' %}" method="POST" class="like-form" id={{obj.id}}>
								{%csrf_token%}
								<input type="hidden" name="post_id" value={{obj.id}}>
								
								<button type="submit" class="btn btn-danger like-btn{{obj.id}}" style="width:100%">
									{%if profile not in obj.liked.all %}
								Like 
								{%else%}
								Unlike
								{%endif%}
							</button>
							<div class="row">
								<div class="col-md-6 like-count{{obj.id}}" align="right">{{obj.num_likes}}</div>
								<div class="col-md-6" align="left">likes</div>
							</div>
								
						</form>
				</div>
			</div>
			</div>
				<div class="card-footer text-muted">
					{%if obj.comment_set.all%}
					<button class="btn btn-danger" data-bs-toggle="collapse" href="#" data-bs-target="#target-{{obj.pk}}">Show/Hide</button>
				<div class="collapse target" id="target-{{obj.pk}}">
					
					{%for c in obj.comment_set.all%}
					<div class="card mb-3 comment">
					<div class="card-header">
						
						<div class="row">
							<div class="col-md-1 photo"><img src="{{c.user.avatar.url}}" class=" avatar img-fluid"></div>
							<div class="col-md-11 name"><span>{{c.user}}</span></div>
						</div>
					</div>
					<div class="card-body">
					
					<p class="card-text">{{c.body}}</p>
					
				</div>
				</div>
				{%endfor%}
					
					</div>
					{%endif%}
				<form action="" method="POST">
					{%csrf_token%}
					<input type="hidden" name="post_id" value={{obj.id}}>
					<p></p>
					{%bootstrap_form c_form%}
					<p></p>
					<button type="submit" class="btn btn-danger" name="submit_c_form">Comment</button>
				</form>
			</div>
		</div>
		{%endfor%}
		
	</div>
	<div class="col-md-4">
			
			
		<form action="" method="POST" enctype="multipart/form-data">
			{%csrf_token%}
			{%bootstrap_form p_form%}
			<button type="submit" class="btn btn-danger" name="submit_p_form">Send Post</button>
		</form>
		</div>
	</div>
</div>

{%endblock%}